<!DOCTYPE html>
<html ng-app = "kanbanApp">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kanban</title>

    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/board.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.css"> 
 
    <script src='./node_modules/jquery/dist/jquery.min.js'></script>         
    <script src='./node_modules/angular/angular.js'></script>
    <script src='./node_modules/angular-animate/angular-animate.min.js'></script>
    <script src='./node_modules/angular-touch/angular-touch.js'></script>
    <script src='./node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js'></script>
    <script src='./node_modules/angular-bootstrap-modal/dist/angular-bootstrap-modal.js'></script>
    <script src='./node_modules/angular-route/angular-route.js'></script>    
    <script src='./node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js'></script> 
    

    <script src="./js/app.js"></script>  
    <script src="./js/components/cs-multi-select/csMultiSelect.directive.js"></script>
    
    <script src="./js/controllers/projectCtl.js"></script>    
    <script src="./js/controllers/historyCtl.js"></script>    
    <script src="./js/controllers/boardCtl.js"></script> 
    <script src="./js/controllers/projectListCtl.js"></script> 
    <script src="./js/controllers/sprintCtl.js"></script> 
    <script src="./js/controllers/modalContentCtl.js"></script> 
    <script src="./js/controllers/historiesOfSprintCtl.js"></script> 
    <script src="./js/services/projectsApiService.js"></script> 
    <script src="./js/services/historiesApiService.js"></script>
    <script src="./js/services/sprintsApiService.js"></script>
    <script src="./js/config/baseUrl.js"></script>
    <script src="./js/config/routeConfig.js"></script>  
    

    
   
</head>
<body >
<div ng-controller = "projectListCtl">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#"><h3>Kanban</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">        
      <li class="nav-item">
        <a class="nav-link" href="" ng-click="verifyProject('history')" target="_self">History</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="" ng-click="verifyProject('sprint')" target="_self">Sprint</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ng-href="#!/board">Board</a>
      </li>
    </ul>
    <div class="row bg-dark" >
       <div class="col-md-8">  
        <select ng-model="projectList" ng-options="project as project.name for project in projects.projects track by project.id" class="form-control" ng-change="setPrjChange()" ng-focus="rechargePrj()">
            <option selected value="" >Select Project</option>
        </select>
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="redirectProject()">+ Project</button>
        </div>
    </div>
 </div>
</nav>
<div>

   <div ng-view></div>

</body>
</html>