
    <div class="board">

    <div class="row">
        <div class="col-sm kanbanTitle">Backlog</div>
        <div class="col-sm kanbanTitle">To Do</div>
        <div class="col-sm kanbanTitle">In Progress</div>
        <div class="col-sm kanbanTitle">Done</div>
    </div>
      <div class="row grid-divider">
        <div class="col-sm my-1" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
          <div class="card" draggable="true" ondragstart="drag(event)" id="drag1">
            <div class="card-body"  >Some content</div>
          </div>
        </div>
        <div class="col-sm my-1" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
          <div class="card" draggable="true" ondragstart="drag(event)" id="drag2">
            <div class="card-body"  >Some content Some content Some content Some content Some content</div>
          </div>
        </div>  
        <div class="col-sm my-1" id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">
          <div class="card" draggable="true" ondragstart="drag(event)" id="drag3" >
            <div class="card-body" >Some content Some content Some content</div>
          </div>
        </div>
              <div class="col-sm my-1" id="div4" ondrop="drop(event)" ondragover="allowDrop(event)">
          <div class="card" draggable="true" ondragstart="drag(event)" id="drag4">
            <div class="card-body"  >Some content Some content Some content</div>
          </div>
        </div>
      </div>
    </div>  
